<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-row align-items-center>
          <ion-icon id="close-menu-button" (click)="closeMenu()" name="arrow-back"></ion-icon>
          <ion-title text-center class="menu-title">MENU</ion-title>
        </ion-row>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <!-- <ion-icon slot="start" [name]="p.icon"></ion-icon> -->
              <ion-label class="menu-item">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
